body {
    margin: 0px;
    padding: 0px;
    background-image: url("1.jpg") ;
}
header {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
header h1 {
    color: rgb(248, 95, 39);
    margin-left: 170px;
}
nav {
    display: flex;
    margin-right: 250px;
}
.link {
    margin-top: 13px;
}
.link ul {
    display: flex;
    margin-right: 20px;
}
.link ul li {
    margin-right: 55px;
    list-style: none; 
}
.link ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.link ul li a:hover {
    color: rgb(248, 95, 39);
}
nav form {
    margin-top: 15px;
}
nav form input {
    padding: 10px 10px;
    border: 1px solid rgb(248, 95, 39);
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
    outline: rgb(248, 95, 39);
    margin-left: 5px;
    background: transparent;
}
nav form input::placeholder {
    color: #fff;
}
nav form button {
    padding: 10px 29px;
    margin: -5px;
    background-color:  rgb(248, 95, 39);
    font-size: 17px;
    border: none;
    border-radius: 0px 0px 5px 0px;
    margin-top: 0px;
    color: #fff;
    cursor: pointer;
}
.search:hover {
    color: black;
}
main {
    margin-left: 170px;
    margin-right: 60px;
}
section {
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
}
.text {
    width: 380px;
    margin-top: 50px;
}
.text h1 {
    font-size: 50px;
    color: #fff;
}
.text h1 span {
    color: rgb(248, 95, 39);
    font-size: 70px
}
.text p {
    font-size: 17px;
    margin-top: -30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: block;
    width: 600px;
}
.text button {
    border-radius: 10px;
    background-color: rgb(248, 96, 40);
    font-size: 18px;
    padding: 12px 50px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}
.bouton:hover {
    background-color: #fff;
}
.form {
    border: 1px solid black;
    width: 300px;
    height: 430px;
    margin-top: 80px;
    border-radius: 10px;
    background-color: black;
}
.form h1 {
    color: rgb(248, 96, 40);
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    margin-top: 25px;
    width: 150px;
    margin-left: 35px;
    text-align: center;
    padding: 7px 40px;
    border-radius: 10px;
}
.form input {
    display: block;
    margin-top: 35px;
    width: 250px;
    margin-left: 20px;
}
.mail {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid rgb(248, 95, 39);
    background: black;
    outline: none;
}
.mail::placeholder {
    color: #fff;
    font-size: 15px;
}
.pass {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid rgb(248, 95, 39);
    background: black;
    outline: none;
}
.pass::placeholder {
    color: #fff;
    font-size: 15px;
}
.submit {
    background: rgb(248, 95, 39);
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    padding: 9px;
    cursor: pointer;
}
.submit:hover{
    background: #fff;
}
.parag {
    margin-top: 25px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.parag p {
    margin: 0px;
    font-size: 16px;
}
.sec a {
    color: rgb(248, 95, 39);
    font-size: 17px;
    text-decoration: none;
}
.footer {
    color: #fff;
    text-align: center;
}