* {
    margin: 0;
    padding: 0;
}
#toggler {
    display: block;
    font-size: 200px;
    color: rgb(19, 17, 17);
}
#toggler:before {
    content: "\2630";
}
.nav1 #toggler:before {
    content: "\2613";
}
div.nav ul {
    position: fixed;
    right: -45%;
    top: 2%;
    flex-direction: column;
    background: rgb(253, 12, 12);
    width: 100%;
    text-align: center;
    transition: 0.25s;
    border: 1px solid;   
}
/* .nav ul {
    left: 50%;
} */